<div class="todos-header">
  <h1>Angular TODO</h1>
  <div>
    <button (click)="logoutHandler()">logout</button>
  </div>
</div>
<!-- <div *ngIf="loading$ | async">
  <div  class="overlay"></div>
  <div class="spinner">loading...</div>
</div> -->
<!-- <div class="todos-input">
  <input class="input" type="text" placeholder="Add new todo title" [(ngModel)]="todoTitle"/>
  <button (click)="addTodoHandler()">Add todo</button>
</div> -->
<div class="todos-box">
<!-- <div *ngFor="let todo of todos$ | async">
{{todo.title}}
</div> -->

