<div class="box">
    <div class="task-content" [ngClass]="{'completed-task': task.status === taskStatusEnum.completed}">
    <input
      type="checkbox"
      [checked]="task.status === taskStatusEnum.completed"
      (click)="changeTaskStatusHandler($event)"
    >
    @if (editMode) {
      <input
      class="input"
      type="text"
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
    >
    } @else {
      <p (dblclick)="activateEditMode()">{{task.title}}</p>
    }
  </div>
  <button (click)="removeTaskHandler()">-</button>
  </div>